.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.control-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px 0;
}

.len {
  margin-bottom: 25px;
}

.note {
  text-align: center;
  width: 300px;
}
